
{{ partial "header_before.html" . }}

<body>
{{ partial "header_after.html" . }}
<main class="row">
    <div id="main-drugs" class="col s12 m9 l10">
        <div class="row" id="welcome">
            <div>
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text drug">
                        <span class="card-title"  style="font-weight:bold">Velkommen til farma.morsby.dk</span>
                        <div>
                            <p>
                                Velkommen til min notesamling i farmakologi fra 6. semester på Aarhus Universitet. Et kursus jeg tog i efteråret 2014 (dette forklarer også, hvorfor nogle ting nok er lidt outdatede efterhånden &hellip;)
                            </p>
                            <p>
                                Jeg har i sommerferien 2016 fuldstændig omkodet siden, så den nu har øget funktionalitet og desuden – og vigtigere – er lettere at holde opdateret. Jeg vil derfor <strong>opfordre alle til at <script type="text/javascript" language="javascript">
<!--// Email obfuscator script 2.1 by Tim Williams, University of Arizona// Random encryption key feature by Andrew Moulden, Site Engineering Ltd
// This code is freeware provided these four comment lines remain intact
// A wizard to generate this code is at http://www.jottings.com/obfuscator/
{
	coded = 'qvOzv@zCOXP7.8T';
	key = 'aq6L8CjDtBTZ5MgvGc1YmrlbpHUNQyshIiVzOEPJR0wF7XKAf3udoSx2nk49eW';
	shift = coded.length;
	link = '';
	for (i = 0; i < coded.length; i++) {
		if (key.indexOf(coded.charAt(i)) == -1) {
			ltr = coded.charAt(i);
			link += ltr;
		} else {
			ltr =
				(key.indexOf(coded.charAt(i)) - shift + key.length) %
				key.length;
			link += key.charAt(ltr);
		}
	}
	document.write(
		"<a href='mailto:" + link + "'>kontakte mig på mail</a> (" + link + ')'
	);
}
//-->
</script><noscript>kontakte mig</noscript> med rettelser</strong>, hvadenten det er tilføjelse af nye stoffer (eller fjernelse af gamle) eller faktuelle fejl.  </p>
<noscript>Ups! Hele hjemmesiden – inkl. at kontakte mig – kræver javascript aktiveret &hellip;</noscript>

                        </div>
                        <div class="card-action">
                            <a class="welcome-close" href="#">Luk [X]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fill"></div>
    </div>
    <div class="col hide-on-small-only m3 l2">
        <div class="table-of-contents-wrapper">
          <ul class="section table-of-contents">
            <li id="toc-open">
                Åbne stoffer
            </li>
          </ul>
      </div>
    </div>
</main>
{{ partial "footer.html" . }}
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
