<div class="info scrollspy" id="{{ .Slug }}" data-slug="{{ .Slug }}" data-name="{{ .Params.name }}">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text drug">
                <span class="card-title"  {{ if eq .Params.important 1 }} style="font-weight:bold" {{ end }}>{{ .Params.name }}</span>
                <div class="drug-info">
                    <div class="drug-chapters">
                        {{ range $chapter:=.Params.chapters }} {{ if not (eq $chapter "") }}<div class="chip">
                            Kap. {{ $chapter }}
                        </div>
                        {{ else }}
                         <div class="chip">Intet kapitel</div>
                        {{ end }}
                        {{ end }}
                    </div>
                    <div class="drug-content">
                                            {{ .Content }}
                    </div>

            </div>
            <div class="card-action">
                <a class="drug-hide" data-slug="{{ .Slug }}" href="#">Skjul/vis [–]</a>
                <a class="drug-close" data-slug="{{ .Slug }}"  href="#">Luk [X]</a>
            </div>
        </div>
    </div>
</div>
