@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import '_sass/materialize', '_sass/syntax-highlighting', 'easy-autocomplete';

// Fixing padding for fixed side nav
header:not(.flashcards),
main:not(.flashcards),
footer:not(.flashcards) {
	padding-left: 300px;
}

@media only screen and (max-width: 992px) {
	header:not(.flashcards),
	main:not(.flashcards),
	footer:not(.flashcards) {
		padding-left: 0;
	}
}

// Navigation
.no-info {
	pointer-events: none;
	cursor: default;
	@extend .grey-text, .text-darken-1;
}

.nav-toggle-position {
	position: fixed;
	padding: 4px 4px 0 4px;
	margin: 0;
	top: 15px;
	right: 15px;
	z-index: 999;
	//background-color: #fff;
}

.important {
	font-weight: bold;
}

.side-nav,
.side-nav.fixed {
	width: 300px;
	.farma-title {
		@extend h3;
		padding: 0 15px;
	}

	.drug-search {
		width: 75%;
		padding-left: 6px;
		margin-bottom: 25px;
		#drug-search {
			max-width: 90%;
			margin: auto;
		}
	}
	li {
		a {
			font-size: 0.9rem;
			line-height: 1.5rem;
			height: auto !important;
			padding-top: 13px !important;
			padding-bottom: 13px !important;
		}
	}
}

.drug-filter {
	font-weight: bold;
	text-align: center;
	.filter-checkbox-container {
		padding: 0 15px;
		text-align: left;
		.filter-checkbox {
			display: inline-block;
			width: 24%;
			margin: 0;
			padding: 0;
		}
	}
}
// Table of contents
.table-of-contents-wrapper {
	position: fixed;
	height: 100%;
	.table-of-contents {
		position: relative;
		overflow-y: auto;
		max-height: 100%;

		li.toc {
			display: none;
		}
	}
}

.fill {
	width: 100%;
	height: 1px;
}
// Drugs
.container {
	width: 85%;
}

p {
	margin-bottom: 1em !important;
}

#main-drugs .info {
	display: none;
}

.drug-info {
	h1,
	h2,
	h3,
	h4,
	h5 {
		margin-bottom: 5px;
	}
	h1 {
		font-size: 24px;
		font-weight: 300;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 18px;
	}
	h4 {
		font-size: 15px;
	}
	.drug-chapters {
		margin-bottom: 1.5rem;
	}
}

// flashcards

.flashcards {
	.flash-nav.container {
		width: 100%;
		max-width: 9999px;
		padding: 5px;

		div:nth-of-type(1) {
			text-align: left;
		}
		div:nth-of-type(2) {
			text-align: center;
		}
		div:nth-of-type(3) {
			text-align: right;
		}
	}
	.drug-info {
		display: none;
	}

	a.drug-close {
		content: 'Ny [»]' !important;
	}
}
.drug-filter.flashcards {
	.filter-checkbox-container {
		@extend .row;
		.filter-checkbox {
			@extend .col;
			@extend .l1;
			@extend .m2;
			@extend .s3;
		}
	}

	.filter-buttons {
		display: inline-block;
		margin: 5px;
	}
}
