{{ partial "header_before.html" . }}

<body>

<header class="flashcards">
    <div class="flash-nav container">
        <div class="row">
            <div class="col l2"><a href="/">Tilbage til stoflisten</a></div>
            <div class="col l8">Du kan nu bruge <code>[mellemrumstasten]</code> til at vise info og skifte til nyt stof</div>
        </div>
    </div>
</header>

<div class="drug-filter flashcards">
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="drug-filter-title collapsible-header">
                Filtrer efter kapitel
            </div>
            {{ partial "filtrer-kapitler.html" . }}
        </li>
    </ul>
</div>

<main class="row flashcards">
    <div id="main-drugs" class="col s12">
    </div>
</main>


{{ partial "footer.html" . }}
<script  type="text/javascript" src="/js/flashcards.js"></script>

</body>
</html>
