<div class="collapsible-body">
    <div class="filter-checkbox-container">
        {{ range $key, $taxonomy := .Site.Taxonomies.chapters }}
             {{ if $key }}
            <div class="filter-checkbox" data-chapter="{{ $key }}">
                <input type="checkbox" class="filled-in filter-chapter" id="filter-chapter-{{ $key }}" data-chapter="{{ $key }}" value="{{ $key }}" checked="checked" />
                <label for="filter-chapter-{{ $key }}">{{ $key }}</label>
            </div>
            {{ end }}
        {{ end }}
    </div>
    <div class="filter-buttons">
        <a class="waves-effect waves-light btn filter-chapter-all">Vælg alle</a>
    </div>
    <div class="filter-buttons">
        <a class="waves-effect waves-light btn filter-chapter-none">Fravælg alle</a>
    </div>
</div>
