<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {{ .Hugo.Generator }}

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/easy-autocomplete.themes.min.css" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ .Site.BaseURL }}index.xml">

    {{ if eq .URL "/" }}
    <title>{{ .Title }}</title>
    <meta property='og:title' content="{{ .Title }}">
    <meta property="og:type" content="website">
    {{ else }}
    <title>{{ .Site.Title }} - {{ .Title }}</title>
    <meta property='og:title' content="{{ .Site.Title }} - {{ .Title }}">
    <meta property="og:type" content="article">
    {{ end }}

    <meta property="og:url" content="{{ .Permalink }}">
    {{ with .Description }}<meta name="description" content="{{ . }}">{{ end }}
    {{ with .Params.image }}<meta property="og:image" content="{{ $.Site.BaseURL }}images/{{ . }}">{{ end }}

    <!-- Piwik sporing -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDomains", ["*.farma.morsby.dk"]]);
    _paq.push(['disableCookies']);
    _paq.push(['trackPageView']);
    _paq.push(['enableHeartBeatTimer']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://stats.morsby.dk/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 1]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="https://stats.morsby.dk/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->


  </head>
