  {{ range .Site.Pages.ByTitle }}
  {{ if eq .Type "drug" }}
    <li>
        <a id="nav-{{ .Slug }}" href="#" class="stof {{ range .Params.chapters }}kapitel-{{ . }} {{ end }} {{ if (eq .Params.hasinfo 0) }} no-info {{ end }}{{ if (eq .Params.important 1) }}important{{ end }}" data-name="{{ .Params.name }}" data-slug="{{ .Slug }}">{{ .Params.name }}</a>
    </li>
    {{ end }}
  {{ end }}
