<ul id="slide-out" class="side-nav fixed">
    <li>
        <div class="farma-title">Stofliste</div>
    </li>
    <li>
        <a class="waves-effect waves-light btn" href="/flashcards/">Flashcards</a>
    </li>
    <li class="drug-search">
        <form class="filterform" method="get">
            <input id="drug-search" type="text">
        </form>
    </li>
    <li class="drug-filter">
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="drug-filter-title collapsible-header">
                    Filtrer efter kapitel
                </div>
                {{ partial "filtrer-kapitler.html" . }}
            </li>
        </ul>
    </li>
    <li>
        <ul class="drug-list">
            {{ partial "nav-elements.html" . }}
        </ul>
    </li>
</ul>
